<!--<h1 class="display-1 text-center py-3">Quize App</h1>-->
<!--navbar start-->
<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jewelery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            Men's clothing
            <!-- test the bootstrap icons-->
<!--            <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>-->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">All</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a  class="nav-link"> {{$sharedMessage|async}}</a>-->
<!--        </li>-->
      </ul>
      <div class="d-flex flex-row-reverse align-items-center">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
<!--      <button class="btn">-->
<!--&lt;!&ndash;      <span class="text-warning fs-2 material-icons md-24">add_shopping_cart</span>&ndash;&gt;-->
<!--        <i class="bi bi-cart-dash-fill fs-1 text-primary"></i>-->
<!--      </button>-->
        <button class="btn d-flex align-items-center" routerLink="/cart">
          <i class="bi bi-cart-dash-fill fs-1 text-primary"></i><span class="badge bg-primary rounded-pill">{{cartItems.length}}</span>
        </button>
      </div>
    </div>
  </div>
</nav>
<!--navbar end-->
<div class="container-fluid py-3">
  <router-outlet></router-outlet>
</div>
