<!--<div class="card">-->
<!--  <h5 class="card-header">Computer Fundamental (Chapter 1)</h5>-->
<!--  <div class="card-body">-->
<!--    <form [formGroup]="questionsForm" (ngSubmit)="onSubmit()" novalidate>-->
<!--&lt;!&ndash;      {{mcq_questions|json}}&ndash;&gt;-->
<!--      <section id="mcq-questions" *ngFor="let question of mcq_questions;index as i;">-->
<!--        <h5 class="card-title text-danger">{{i+1}}. {{question.question}}</h5>-->
<!--        <div class="card-text py-2">-->
<!--          <div class="form-check form-check-inline" *ngFor="let  opt of question.options;index as i">-->
<!--            <input class="form-check-input" formControlName="answer" type="radio" name="answer" [id]="i"-->
<!--                   value="option1">-->
<!--            <label class="form-check-label" [for]="i">{{opt.answer}}</label>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="form-check form-check-inline">&ndash;&gt;-->
<!--&lt;!&ndash;            <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="inlineRadio2"&ndash;&gt;-->
<!--&lt;!&ndash;                   value="option2">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="form-check-label" for="inlineRadio2">CPU</label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="form-check form-check-inline">&ndash;&gt;-->
<!--&lt;!&ndash;            <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="inlineRadio3"&ndash;&gt;-->
<!--&lt;!&ndash;                   value="option3">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="form-check-label" for="inlineRadio3">Control Unit</label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="form-check form-check-inline">&ndash;&gt;-->
<!--&lt;!&ndash;            <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="inlineRadio4"&ndash;&gt;-->
<!--&lt;!&ndash;                   value="option4">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="form-check-label" for="inlineRadio4">Memory</label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </section>-->
<!--      <button type="submit" class="btn btn-primary mb-3" [disabled]="questionsForm.invalid">Submit</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--new code for home page-->
<div class="row col-md-4 offset-md-4">
  <h1 class="display-3 py-3 text-warning">OcemtechZone Ecom</h1>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <label for="username" class="form-label">Username/Email</label>
        <input type="text" class="form-control" id="username" placeholder="Username/Email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="mb-3 text-center">
        <button class="btn btn-warning">Login</button>
      </div>
    </div>
    <div class="py-3 text-center text-muted">
      Copyright &copy;2023 ocemtechzone
    </div>
  </div>
</div>